mat-toolbar {
  background: #2175EA;
  color: whitesmoke;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar>a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

.icon {
  padding: 0 30px;
}
