.icons {
    margin:0 8px;
    color:#2175EA;
}
.beer-name {
    font-size: 2em;
}
.add-remove-beer {
    margin: 16px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.add-remove-button {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width:30px;

}