<div>
  <ul class="list-group">
    <div *ngFor="let item of items">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-9 ">
            <p>
              <strong>
                <i class="fas fa-beer icons beer-name"></i>{{item.name}}</strong>
            </p>
          </div>
          <div class="col-md-3 add-remove-beer">
            <button class="btn btn-danger add-remove-button" (click)="removeFromCart(item.id,item.quantity)" [ngClass]="{
              'disabled': item.quantity <= 0
            }">
              <i class="material-icons">remove</i>
            </button>
            <div class="beer-quantity">{{item.quantity }}</div>
            <button class="btn btn-success add-remove-button" (click)="addToCart(item.id)">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <i class="fas fa-glass-martini icons"></i>Type: {{item.style || "N/A"}}</div>
          <div class="col-md-4">
            <i class="fas fa-bolt icons"></i>Alcoholic content: {{item.abv || "N/A"}}</div>
          <div class="col-md-4">
            <i class="fas fa-prescription-bottle icons"></i>Standard size(in ounces): {{item.ounces || "N/A"}}</div>
        </div>
      </li>
    </div>
  </ul>
</div>
